:root {
    --color: #596D48;
    --txt: rgb(0, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.section-container {
    display: flex;
}

.intro-text {
    width: 60%;
    padding: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
}